@font-face {
	font-family: 'HYWenHei-HEW';
	src: url('/fonts/HYWenHei-HEW.woff2') format('woff2');
	font-style: regular;
}

@import 'tailwindcss';

@theme {
	--font-genshin: 'HYWenHei-HEW', sans-serif;
}

@keyframes lane-ripple {
	from {
		transform: scale(1);
		opacity: 0.8;
	}
	to {
		transform: scale(1.8);
		opacity: 0;
	}
}
